/* stying for classes and dropdown menu */
/*inline allows form elements (links/buttons) to float next to each other */
form{
    display:inline-block;
/* styles specifically the people button */
}
.dropdown-button { 
    background-color: #0000b3; 
    color: white; 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
} 
/* styles buttons the same as the drop down button */
.button { 
    background-color: #0000b3; 
    color: white; 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
} 
/* change the color of the button class when hovered over */
.button:hover{
     background-color: #6666ff; 
}
/* assigns same inline element that allows .button class to float next to .dropdown class*/
.dropdown { 
    position: relative; 
    display: inline-block; 
} 
/* styles dropdown list. z-index makes it on top of everything else */
.dropdown-list { 
    display: none; 
    position: absolute; 
    background-color: #f1f1f1; 
    min-width: 160px; 
    z-index: 1; 
} 
/* styles dropdown hyperlinks */
.dropdown-list a { 
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    font-family: verdana; 
} 
/* Change color of hypterlinks when hovered over linke .button:hover; */ 
.dropdown-list a:hover { 
    background-color: #ddd; 
} 
/* Displays the hypberlinks when the .dropdown button is hovered over */ 
.dropdown:hover .dropdown-list { 
    display: block; 
} 
/* changes color of dropdown button when hovered over like .button:hover */ 
.dropdown:hover .dropdown-button { 
    background-color: #6666ff; 
} 
.table{
    border-collapse:collapse;
    margin:25px 0;
    font-size: 1em;
    min-width: 400px;
}
.table tr th{
    background-color: #0000b3;;
    color:white;
    text-align:center;
    font-weight:bold;
}
.table td{
    padding: 12px 30px 15px 30px;
    border:1px solid black;
}
.Title { 
    background-color: #0000b3; 
    color: white; 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
    font-family: verdana;
} 
